@import "bootstrap-sprockets";
@import "bootstrap";



.wrapper_with_padding
{
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    text-align: left;


}
.img{
    
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.padding
{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    float: center;
    width: 40%;
    margin: auto;
    text-align: center;
    border-style: ridge;
    border-radius: 5px;
}

.wrapper
{
	 text-align: left;
	 margin-left: 100px;
	 margin-right: 100px;
}

h1 { color: red; }

i{ font-size:48px; }


strong
{ 
	text-align: center;
    color: blue;
}

.center
{
    text-align: left;
     margin-left: 100px;
     margin-right: 100px;
}

.center-detail
{
    text-align: center;
     margin-left: 100px;
     margin-right: 100px;
}


.buttons
{
	text-align: center;
}

.will-page
{
	text-align: center;
}

h2 
{
	color: red;

}

.form-new-album
{
    margin-left: 100px;
    margin-right: 100px;

}
.detail-album
{
    margin-left: 100px;
    margin-right: 100px;
}

.listing-album
{
    margin-left: 100px;
    margin-right: 100px;
    border: 12px;
}

.edit-album
{
    margin-left: 100px;
    margin-right: 100px;
}