/ %h2  All pictures
/ - @pictures.each do |picture| 

/ 	%h2= link_to picture.title, picture
/ 	%p= time_ago_in_words(picture.created_at)

/ = link_to "New picture", new_picture_path
		

.wrapper_with_padding
	#notes.clearfix
		/ %h2 dfdfsf
		- unless @pictures.blank?
			- @pictures.each do |picture|
				%a{ href: (url_for [picture])}
					.note
						%h4.title= link_to picture.title, picture
						%h3.date= time_ago_in_words(picture.created_at)
		- else
			%h2 Add a picture
			%p It appears you haven't created any picture yet... Lets fix that. Why don't you go ahead and create a new picture.
			%button= link_to "New Picture", new_picture_path