%h1 Detail picture 
%h2=@picture.title 
%p=@picture.description

= link_to "All Pictures", pictures_path
= link_to "Edit Pictures", edit_picture_path(@picture)
=link_to "Delete Pcitures", picture_path(@picture), method: :delete, data: {confirm: "Are you sure deleted?"}
