/ #banner

/ 	.banner_content
/ 		%h1 MANAGE IMAGES 
/ 		%p "Bức ảnh nào mà tôi thích nhất? Đó là tấm tôi sẽ chụp vào ngày mai" - Imogen Cunningham.
/ 		%button= link_to "Sign Up", new_user_registration_path
/ #testimonial
/ 	.wrapper
/ 		%p.quote Managing esy images and fast
/ 		%p.name - Tran Huu Trung -
/ #callouts
/ 	.callout_inner
/ 		.wrapper
/ 			.callout
/ 				%i.fa.fa-pencil
/ 				%h2 TRUNG
/ 				%p Mọi bức ảnh đều chính xác, nhưng không có bức ảnh nào là sự thật. RICHARD AVEDON (1923-2004) - nhiếp ảnh gia Mỹ
/ 			.callout
/ 				%i.fa.fa-bicycle
/ 				%h2 TRAN
/ 				%p Máy ảnh là công cụ dạy người ta làm sao để nhìn mà không có máy ảnh. DOROTHEA LANGE (1895-1965) Nhiếp ảnh gia Mỹ
/ 			.callout
/ 				%i.fa.fa-bicycle
/ 				%h2 HUU
/ 				%p Chiếc máy ảnh là một tấm gương soi có trí nhớ nhưng không biết tư duy. ARNOLD NEWMAN (1918-2006)

/ 		%h2 IMAGES
/ 		%p I want you to sign up... If you don’t. I will find you!
/ 		%button= link_to "Click Me!", new_user_registration_path


/ 	%p &copy; TRAN HUU TRUNG 